.mainDiv {
  display: flex;
  flex-direction: column;
}
.slider-container {
  background-color: rgb(156, 146, 146);
  padding: 30px;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 350px;
  align-items: flex-start;
  margin-left: 30px;
}
